<a href="https://colab.research.google.com/github/vence-andersen/M5-Forecasting-Accuracy/blob/main/Ensemble_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing modules required and reading the pickle file**

In [ ]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_log_error
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso
from sklearn.metrics import make_scorer
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import LinearRegression
from catboost import CatBoostRegressor
from lightgbm import LGBMRegressor
import pickle
import dill
import warnings
warnings.filterwarnings('ignore')
from sklearn.metrics import mean_squared_error as mse
from typing import Union
from tqdm import tqdm

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_pickle('/content/drive/MyDrive/new.pkl')
data.head(2)

             id  item_id  ...  rolling_median_28  rolling_median_56
30490000  14370     1437  ...                0.0                0.0
30490001  14380     1438  ...                0.0                0.0

[2 rows x 32 columns]

# **Train, Test Splits**

In [ ]:
# Now we are splitting our data into, Train, Test, Cross Validate.
# Being a time series model, we are splitting the data based on time.

# Records till day 1914 will be used for training the model.
X_train = data[data['day']<1800]

# Records after day 1942 will used for final test
X_test = data[(data['day']>=1800)]

y_train = X_train['demand']
y_test = X_test['demand']

# We are drpping the features which are not required.
X_train.drop(['demand'],axis = 1,inplace = True)
X_test.drop(['demand'],axis = 1,inplace = True)

print(X_train.shape,y_train.shape)
print(X_test.shape, y_test.shape)

(24361510, 27) (24361510,)
(5183300, 27) (5183300,)

In [ ]:
# We are then splitting the train data 50-50 as D1 and D2
X_train_D1 = X_train[X_train['day']<=1400]
X_train_D2 = X_train[X_train['day']>1400]

y_train_D1 = y_train[y_train.index <= X_train_D1.index[-1]].reset_index(drop=True)
y_train_D2 = y_train[y_train.index > X_train_D1.index[-1]].reset_index(drop=True)

X_train_D1.reset_index(drop=True, inplace=True)
X_train_D2.reset_index(drop=True, inplace=True)

In [ ]:
def sampler(max_val):
    """This function is used to create a sample dataset"""

    # siz variable defines that we are picking 70 percent of data with replacement
    siz = np.int(max_val * 0.70)
    return np.round(np.random.uniform(0,max_val-1, size=siz)).astype(int).tolist()

In [ ]:
# We are creating a sample dataset from X_train_D1 with 70 percent of data with replacement
k1_train = X_train_D1.iloc[sampler(X_train_D1.shape[0])].sort_index()
k1_test = y_train_D1[k1_train.index.tolist()]

k2_train = X_train_D1.iloc[sampler(X_train_D1.shape[0])].sort_index()
k2_test = y_train_D1[k2_train.index.tolist()]

k3_train = X_train_D1.iloc[sampler(X_train_D1.shape[0])].sort_index()
k3_test = y_train_D1[k3_train.index.tolist()]

k4_train = X_train_D1.iloc[sampler(X_train_D1.shape[0])].sort_index()
k4_test = y_train_D1[k4_train.index.tolist()]

k5_train = X_train_D1.iloc[sampler(X_train_D1.shape[0])].sort_index()
k5_test = y_train_D1[k5_train.index.tolist()]

# **Base Model_1 LassoRegression**

In [ ]:
params = {'alpha' : [0.001,0.01,0.1,1,10,0.05,0.5]}

lasso = Lasso()
clf = GridSearchCV(estimator=lasso, param_grid=params,scoring='neg_mean_squared_error', cv=3,n_jobs=-1, return_train_score=True, verbose=2)
clf.fit(k1_train, k1_test)

Fitting 3 folds for each of 7 candidates, totalling 21 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  21 out of  21 | elapsed:  6.7min finished

GridSearchCV(cv=3, error_score=nan,
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'alpha': [0.001, 0.01, 0.1, 1, 10, 0.05, 0.5]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
             scoring='neg_mean_squared_error', verbose=2)

In [ ]:
pd.DataFrame(clf.cv_results_)

   mean_fit_time  std_fit_time  ...  mean_train_score  std_train_score
0     235.910277    115.114222  ...         -6.701745         0.486640
1      45.621883     12.618110  ...         -6.703456         0.486429
2      23.853307      6.788747  ...         -6.709054         0.487297
3      17.539312      0.779091  ...         -6.808377         0.487148
4       5.073261      0.033020  ...        -14.148506         0.222636
5      28.724928      9.965209  ...         -6.707194         0.487155
6      17.718964      4.316160  ...         -6.736068         0.488666

[7 rows x 17 columns]

In [ ]:
# We are here picking the worst performing model as our final meta_model will be a boosting type
model_1 = Lasso(alpha=10)
model_1.fit(k1_train, k1_test)

Lasso(alpha=10, copy_X=True, fit_intercept=True, max_iter=1000, normalize=False,
      positive=False, precompute=False, random_state=None, selection='cyclic',
      tol=0.0001, warm_start=False)

# **Base Model_2 ElasticNet**

In [ ]:
params = {'alpha' : [0.001,0.01,0.1,1,10,0.05,0.5],
          'l1_ratio' : [0.01,0.1,1]}

elastic_net = ElasticNet(max_iter=250)
clf = GridSearchCV(estimator=elastic_net, param_grid=params, scoring='neg_mean_squared_error', cv=3, n_jobs=-1, return_train_score=True)
clf.fit(k2_train, k2_test)

GridSearchCV(cv=3, error_score=nan,
             estimator=ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True,
                                  l1_ratio=0.5, max_iter=250, normalize=False,
                                  positive=False, precompute=False,
                                  random_state=None, selection='cyclic',
                                  tol=0.0001, warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'alpha': [0.001, 0.01, 0.1, 1, 10, 0.05, 0.5],
                         'l1_ratio': [0.01, 0.1, 1]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
             scoring='neg_mean_squared_error', verbose=0)

In [ ]:
pd.DataFrame(clf.cv_results_)[['param_alpha','param_l1_ratio','mean_test_score','std_test_score','mean_train_score','std_train_score']]

   param_alpha param_l1_ratio  ...  mean_train_score  std_train_score
0        0.001           0.01  ...         -6.759825         0.445865
1        0.001            0.1  ...         -6.759842         0.445875
2        0.001              1  ...         -6.759922         0.445868
3         0.01           0.01  ...         -6.759879         0.445881
4         0.01            0.1  ...         -6.759961         0.445856
5         0.01              1  ...         -6.761565         0.445658
6          0.1           0.01  ...         -6.760438         0.445884
7          0.1            0.1  ...         -6.762024         0.445838
8          0.1              1  ...         -6.766891         0.446364
9            1           0.01  ...         -6.765857         0.446318
10           1            0.1  ...         -6.770848         0.446540
11           1              1  ...         -6.866240         0.445827
12          10           0.01  ...         -6.897457         0.445746
13          10            0.1  ...         -7.099201         0.440689
14          10              1  ...        -14.261053         0.230800
15        0.05           0.01  ...         -6.760117         0.445865
16        0.05            0.1  ...         -6.760775         0.445790
17        0.05              1  ...         -6.765057         0.446237
18         0.5           0.01  ...         -6.762804         0.446097
19         0.5            0.1  ...         -6.766142         0.446294
20         0.5              1  ...         -6.793586         0.447572

[21 rows x 6 columns]

In [ ]:
model_2 = ElasticNet(alpha=10,l1_ratio=1,max_iter=250)
model_2.fit(k2_train, k2_test)

ElasticNet(alpha=10, copy_X=True, fit_intercept=True, l1_ratio=1, max_iter=250,
           normalize=False, positive=False, precompute=False, random_state=None,
           selection='cyclic', tol=0.0001, warm_start=False)

# **Base Model_3 LinearRegression**

In [ ]:
model_3 = LinearRegression(n_jobs=-1)
model_3.fit(k3_train, k3_test)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, normalize=False)

# **Base Model_4 CatBoostRegressor**

In [ ]:
a = pd.DataFrame()
for i in range(7):    
    params = {'learning_rate' : np.round(np.random.rand(1)/10,3).tolist(),
            'min_data_in_leaf' : np.random.randint(30,113, size=1).tolist()}

    cat_boost = CatBoostRegressor(logging_level="Silent", iterations=130)
    clf = GridSearchCV(estimator=cat_boost, param_grid=params, scoring='neg_mean_squared_error', cv=3, n_jobs=-1, return_train_score=True)
    clf.fit(k4_train, k4_test)
    b = pd.DataFrame(clf.cv_results_)
    a = pd.concat([a,b])

In [ ]:
a['diff'] = a['mean_test_score'] - a['mean_train_score']
a

   mean_fit_time  std_fit_time  ...  std_train_score      diff
0     204.562277      4.050206  ...         0.287200 -0.849476
0     195.732081      2.392888  ...         0.387664 -0.213525
0     203.481364      3.411693  ...         0.299951 -0.758194
0     201.468571      7.448985  ...         0.290725 -0.827884
0     206.265570      6.867411  ...         0.278965 -0.845784
0     200.146811      4.288425  ...         0.328092 -0.625185
0     197.601803      2.459887  ...         0.345285 -0.523718

[7 rows x 19 columns]

In [ ]:
model_4 = CatBoostRegressor(learning_rate =  0.01, min_data_in_leaf =  58, logging_level="Silent", iterations=130)
model_4.fit(k4_train, k4_test)

# **Base Model_5 LightGBM**

In [ ]:
a = pd.DataFrame()
for i in range(7):    
    params = {'learning_rate' : np.round(np.random.rand(1)/10,3).tolist(),
              'min_data_in_leaf' : np.random.randint(30,113, size=1).tolist(),
              'num_leaves' : np.random.randint(30,120, size=1).tolist()}

    lgbm = LGBMRegressor()
    clf = GridSearchCV(estimator=lgbm, param_grid=params, scoring='neg_mean_squared_error', cv=3, n_jobs=-1, return_train_score=True)
    clf.fit(k5_train, k5_test)
    b = pd.DataFrame(clf.cv_results_)
    a = pd.concat([a,b])

In [ ]:
a['diff'] = a['mean_test_score'] - a['mean_train_score']
a

   mean_fit_time  std_fit_time  ...  std_train_score      diff
0     146.360600      3.862081  ...         0.184388 -1.623247
0     125.157988      2.091329  ...         0.199110 -1.296173
0     138.036163      2.092514  ...         0.263903 -0.604219
0     152.460183      3.376623  ...         0.235754 -0.960298
0     143.962533      3.311683  ...         0.256392 -0.237381
0     163.437983      1.338426  ...         0.251739 -0.558422
0     114.960509      2.287053  ...         0.213181 -1.015360

[7 rows x 20 columns]

In [ ]:
model_5 = LGBMRegressor(learning_rate =  0.005, min_data_in_leaf =  80, num_leaves = 42)
model_5.fit(k5_train, k5_test)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.005, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_data_in_leaf=80,
              min_split_gain=0.0, n_estimators=100, n_jobs=-1, num_leaves=42,
              objective=None, random_state=None, reg_alpha=0.0, reg_lambda=0.0,
              silent=True, subsample=1.0, subsample_for_bin=200000,
              subsample_freq=0)

# **Saving the session to prevent from re-running.**

In [ ]:
filename = 'copy_globalsave_1.pkl'
dill.dump_session(filename)

In [ ]:
!cp copy_globalsave.pkl /content/drive/MyDrive

In [ ]:
dill.load_session('/content/drive/MyDrive/copy_globalsave.pkl')

# **Predicting the values on the 5 base models and creating a Dataset**

In [ ]:
k1_pred = pd.Series(model_1.predict(X_train_D2))
k2_pred = pd.Series(model_2.predict(X_train_D2))
k3_pred = pd.Series(model_3.predict(X_train_D2))
k4_pred = pd.Series(model_4.predict(X_train_D2))
k5_pred = pd.Series(model_5.predict(X_train_D2))

In [ ]:
X_train_D2_pred = pd.concat([pd.DataFrame(k1_pred, columns=['k1_pred']), pd.DataFrame(k2_pred,columns=['k2_pred']),\
           pd.DataFrame(k3_pred,columns=['k3_pred']),pd.DataFrame(k4_pred,columns=['k4_pred']),\
           pd.DataFrame(k5_pred,columns=['k5_pred'])],axis=1)

X_train_D2_pred.head(2)

    k1_pred   k2_pred   k3_pred   k4_pred   k5_pred
0  1.213988  1.212713  0.802246  0.677279  0.951471
1  1.213584  1.212308  0.232422  0.662477  0.824897

In [ ]:
test_pred_1 = pd.Series(model_1.predict(X_test))
test_pred_2 = pd.Series(model_2.predict(X_test))
test_pred_3 = pd.Series(model_3.predict(X_test))
test_pred_4 = pd.Series(model_4.predict(X_test))
test_pred_5 = pd.Series(model_5.predict(X_test))

In [ ]:
predictions = pd.concat([pd.DataFrame(test_pred_1, columns=['test_pred_1']), pd.DataFrame(test_pred_2,columns=['test_pred_2']),\
           pd.DataFrame(test_pred_3,columns=['test_pred_3']),pd.DataFrame(test_pred_4,columns=['test_pred_4']),\
           pd.DataFrame(test_pred_5,columns=['test_pred_5'])],axis=1)

predictions.head(2)

   test_pred_1  test_pred_2  test_pred_3  test_pred_4  test_pred_5
0     1.213988     1.212713     0.613037     0.662477     0.884894
1     1.213584     1.212308     1.284668     0.908849     1.077123

# **Creating a meta model using predcited values of X_train_D2 and it's true values**

In [ ]:
for i in range(15):
    
    lr = np.round(np.random.rand()/10,3)
    num_leaves = np.random.randint(30,150)
    min_data_in_leaf = np.random.randint(50,150)
    
    lgb = LGBMRegressor(learning_rate=lr ,num_leaves=num_leaves ,min_data_in_leaf=min_data_in_leaf)
    lgb.fit(X_train_D2_pred, y_train_D2)
    
    # Calculating the mse for train values to check if the model is overfitting or underfitting
    train_pred = lgb.predict(X_train_D2_pred)

    train_m_s_e = mse(y_train_D2,train_pred)
    
    # After training the model, we are trying to predict the model on X_val to check it's accuracy
    y_pred = lgb.predict(predictions)
    
    # Now that it has predicted the values for X_val, we are calculating it's rmse
    m_s_e = mse(y_test,y_pred)

    print(f"For learning rate {lr}, num_leaves {num_leaves} and min_data_in_leaf {min_data_in_leaf}, the train MSE is {train_m_s_e} and valid MSE is {m_s_e} diff is {m_s_e - train_m_s_e}")
    print('*'*80)

For learning rate 0.099, num_leaves 100 and min_data_in_leaf 138, the train MSE is 5.901566823311719 and valid MSE is 6.314696340867779 diff is 0.41312951755605987
********************************************************************************
For learning rate 0.018, num_leaves 76 and min_data_in_leaf 75, the train MSE is 6.165910007452854 and valid MSE is 6.197485271639661 diff is 0.03157526418680767
********************************************************************************
For learning rate 0.071, num_leaves 135 and min_data_in_leaf 114, the train MSE is 5.900120806853764 and valid MSE is 6.313768139993319 diff is 0.41364733313955515
********************************************************************************
For learning rate 0.049, num_leaves 133 and min_data_in_leaf 101, the train MSE is 5.917993503037619 and valid MSE is 6.301181571326875 diff is 0.38318806828925656
********************************************************************************
For learning rate 0.054, num_leaves 53 and min_data_in_leaf 107, the train MSE is 5.947786808622934 and valid MSE is 6.301702254301726 diff is 0.3539154456787923
********************************************************************************
For learning rate 0.041, num_leaves 31 and min_data_in_leaf 108, the train MSE is 5.988083402160238 and valid MSE is 6.283198565546256 diff is 0.2951151633860176
********************************************************************************
For learning rate 0.017, num_leaves 137 and min_data_in_leaf 136, the train MSE is 6.190431311853975 and valid MSE is 6.205760298939965 diff is 0.015328987085990065
********************************************************************************
For learning rate 0.053, num_leaves 87 and min_data_in_leaf 58, the train MSE is 5.923998100345739 and valid MSE is 6.300138843664553 diff is 0.376140743318814
********************************************************************************
For learning rate 0.03, num_leaves 114 and min_data_in_leaf 55, the train MSE is 5.963503794685247 and valid MSE is 6.238923214884605 diff is 0.2754194201993583
********************************************************************************
For learning rate 0.078, num_leaves 72 and min_data_in_leaf 106, the train MSE is 5.917861458296095 and valid MSE is 6.308357179657265 diff is 0.3904957213611704
********************************************************************************
For learning rate 0.036, num_leaves 57 and min_data_in_leaf 110, the train MSE is 5.974325557094924 and valid MSE is 6.270076042962605 diff is 0.29575048586768027
********************************************************************************
For learning rate 0.007, num_leaves 101 and min_data_in_leaf 118, the train MSE is 7.598571916226548 and valid MSE is 7.045280208821461 diff is -0.5532917074050863
********************************************************************************
For learning rate 0.002, num_leaves 114 and min_data_in_leaf 59, the train MSE is 10.345361976385654 and valid MSE is 9.275870732063167 diff is -1.0694912443224869
********************************************************************************
For learning rate 0.008, num_leaves 139 and min_data_in_leaf 62, the train MSE is 7.296277384893396 and valid MSE is 6.832466054112743 diff is -0.4638113307806533
********************************************************************************
For learning rate 0.038, num_leaves 85 and min_data_in_leaf 126, the train MSE is 5.954755358005891 and valid MSE is 6.275622618302095 diff is 0.32086726029620394
********************************************************************************

In [ ]:
meta_model = LGBMRegressor(learning_rate=0.007,num_leaves=101 ,min_data_in_leaf=118)
meta_model.fit(X_train_D2_pred, y_train_D2)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.007, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001,
              min_data_in_leaf=118, min_split_gain=0.0, n_estimators=100,
              n_jobs=-1, num_leaves=101, objective=None, random_state=None,
              reg_alpha=0.0, reg_lambda=0.0, silent=True, subsample=1.0,
              subsample_for_bin=200000, subsample_freq=0)

In [ ]:
# Now splitting the values for the submission
val = X_test[(X_test['day']>1913) & (X_test['day']<1942)]
tst = X_test[X_test['day']>1941]

In [ ]:
final_1_val = model_1.predict(val)
final_1_tst = model_1.predict(tst)

final_2_val = model_2.predict(val)
final_2_tst = model_2.predict(tst)

final_3_val = model_3.predict(val)
final_3_tst = model_3.predict(tst)

final_4_val = model_4.predict(val)
final_4_tst = model_4.predict(tst)

final_5_val = model_5.predict(val)
final_5_tst = model_5.predict(tst)

In [ ]:
final_val_preds = pd.concat([pd.DataFrame(final_1_val, columns=['final_1_val']), pd.DataFrame(final_2_val,columns=['final_2_val']),\
           pd.DataFrame(final_3_val,columns=['final_3_val']),pd.DataFrame(final_4_val,columns=['final_4_val']),\
           pd.DataFrame(final_5_val,columns=['final_5_val'])],axis=1)

final_val_preds.head(2)

   final_1_val  final_2_val  final_3_val  final_4_val  final_5_val
0     1.213988     1.212713     0.887939     0.823942     1.056554
1     1.213584     1.212308     0.649902     0.667475     0.937174

In [ ]:
final_tst_preds = pd.concat([pd.DataFrame(final_1_tst, columns=['final_1_tst']), pd.DataFrame(final_2_tst,columns=['final_2_tst']),\
           pd.DataFrame(final_3_tst,columns=['final_3_tst']),pd.DataFrame(final_4_tst,columns=['final_4_tst']),\
           pd.DataFrame(final_5_tst,columns=['final_5_tst'])],axis=1)

final_tst_preds.head(2)

   final_1_tst  final_2_tst  final_3_tst  final_4_tst  final_5_tst
0     1.213988     1.212713     0.595947     0.667475     0.914447
1     1.213584     1.212308     0.357910     0.662477     0.824897

In [ ]:
pred_val_array = meta_model.predict(final_val_preds)
pred_test_array = meta_model.predict(final_tst_preds)

pred_val_array = np.reshape(pred_val_array, (-1, 28),order = 'F')
pred_test_array = np.reshape(pred_test_array, (-1, 28),order = 'F')

In [ ]:
sub = pd.read_csv("sample_submission.csv")
sub_1 = sub.iloc[:30490,:]
sub_2 = sub.iloc[30490:,:]
f_cols = sub.columns[1:]

for i in range(len(f_cols)):
    sub_1[f_cols[i]] = pred_val_array[:,i]
    sub_2[f_cols[i]] = pred_test_array[:,i]

sub = pd.concat([sub_1,sub_2])
sub

                                  id        F1  ...       F27       F28
0      HOBBIES_1_001_CA_1_validation  1.008821  ...  1.241572  1.038512
1      HOBBIES_1_002_CA_1_validation  0.895495  ...  0.773150  0.754468
2      HOBBIES_1_003_CA_1_validation  0.801090  ...  0.969648  1.065147
3      HOBBIES_1_004_CA_1_validation  1.744673  ...  2.168582  1.981936
4      HOBBIES_1_005_CA_1_validation  1.203920  ...  1.275015  1.563668
...                              ...       ...  ...       ...       ...
60975    FOODS_3_823_WI_3_evaluation  0.817819  ...  0.895495  1.071161
60976    FOODS_3_824_WI_3_evaluation  0.918212  ...  1.003606  0.757754
60977    FOODS_3_825_WI_3_evaluation  1.257981  ...  0.993318  1.184010
60978    FOODS_3_826_WI_3_evaluation  1.119456  ...  1.184010  1.147010
60979    FOODS_3_827_WI_3_evaluation  1.267523  ...  1.612157  1.016621

[60980 rows x 29 columns]

In [ ]:
sub.to_csv("stack_model_8.csv",index = False)

In [ ]:
!kaggle competitions submit -c m5-forecasting-accuracy -f stack_model_8.csv -m "Eigth stacked model"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
100% 32.4M/32.4M [00:00<00:00, 60.0MB/s]
Successfully submitted to M5 Forecasting - Accuracy

![image.png]()