<a href="https://colab.research.google.com/github/vence-andersen/M5-Forecasting-Accuracy/blob/main/Feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# from google.colab import files
# files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"grahamfernando","key":"cffa546ccec7808cfc8cec9944ed384a"}'}

In [2]:
# !mkdir -p ~/.kaggle
# !cp kaggle.json ~/.kaggle/
# !chmod 600 ~/.kaggle/kaggle.json

In [3]:
# ! kaggle competitions download -c m5-forecasting-accuracy

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
Downloading sales_train_evaluation.csv.zip to /content
 32% 5.00M/15.8M [00:00<00:01, 8.75MB/s]
100% 15.8M/15.8M [00:00<00:00, 25.0MB/s]
Downloading calendar.csv to /content
  0% 0.00/101k [00:00<?, ?B/s]
100% 101k/101k [00:00<00:00, 89.6MB/s]
Downloading sample_submission.csv.zip to /content
  0% 0.00/163k [00:00<?, ?B/s]
100% 163k/163k [00:00<00:00, 152MB/s]
Downloading sales_train_validation.csv.zip to /content
 58% 9.00M/15.5M [00:00<00:00, 14.5MB/s]
100% 15.5M/15.5M [00:00<00:00, 24.5MB/s]
Downloading sell_prices.csv.zip to /content
 35% 5.00M/14.2M [00:01<00:02, 4.71MB/s]
100% 14.2M/14.2M [00:01<00:00, 12.8MB/s]

In [4]:
# !unzip sales_train_evaluation.csv.zip
# !unzip sales_train_validation.csv.zip
# !unzip sample_submission.csv.zip
# !unzip sell_prices.csv.zip

Archive:  sales_train_evaluation.csv.zip
  inflating: sales_train_evaluation.csv
Archive:  sales_train_validation.csv.zip
  inflating: sales_train_validation.csv
Archive:  sample_submission.csv.zip
  inflating: sample_submission.csv
Archive:  sell_prices.csv.zip
  inflating: sell_prices.csv

In [7]:
# ! pip install downcast

Collecting downcast
  Downloading https://files.pythonhosted.org/packages/60/11/0468306ef6b191c6f53a0005f96e289494f885556a4ab80c438adc64a99f/downcast-0.0.8-py3-none-any.whl
Installing collected packages: downcast
Successfully installed downcast-0.0.8

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
from tqdm import tqdm
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error
from downcast import reduce

In [6]:
# Using Pandas to reasd the files.

sales = pd.read_csv("sales_train_evaluation.csv")
sell_price = pd.read_csv("sell_prices.csv")
cal = pd.read_csv("calendar.csv")

In [ ]:
# #https://www.kaggle.com/anshuls235/time-series-forecasting-eda-fe-modelling/notebook#2.-Downcasting

# def downcast(df):

#     cols = df.dtypes.index.tolist()
#     types = df.dtypes.values.tolist()

#     for i,t in enumerate(types):

#         if 'int' in str(t):
#             if df[cols[i]].min() > np.iinfo(np.int8).min and df[cols[i]].max() < np.iinfo(np.int8).max:
#                 df[cols[i]] = df[cols[i]].astype(np.int8)
#             elif df[cols[i]].min() > np.iinfo(np.int16).min and df[cols[i]].max() < np.iinfo(np.int16).max:
#                 df[cols[i]] = df[cols[i]].astype(np.int16)
#             elif df[cols[i]].min() > np.iinfo(np.int32).min and df[cols[i]].max() < np.iinfo(np.int32).max:
#                 df[cols[i]] = df[cols[i]].astype(np.int32)
#             else:
#                 df[cols[i]] = df[cols[i]].astype(np.int64)

#         elif 'float' in str(t):
#             if df[cols[i]].min() > np.finfo(np.float16).min and df[cols[i]].max() < np.finfo(np.float16).max:
#                 df[cols[i]] = df[cols[i]].astype(np.float16)
#             elif df[cols[i]].min() > np.finfo(np.float32).min and df[cols[i]].max() < np.finfo(np.float32).max:
#                 df[cols[i]] = df[cols[i]].astype(np.float32)
#             else:
#                 df[cols[i]] = df[cols[i]].astype(np.float64)

#         elif t == np.object:
#             if cols[i] == 'date':
#                 df[cols[i]] = pd.to_datetime(df[cols[i]], format='%Y-%m-%d')
#             else:
#                 df[cols[i]] = df[cols[i]].astype('category')

#     return df

In [9]:
# To reduce the memory usage, we'll be using reduce throughout the code

sales = reduce(sales)
sell_price = reduce(sell_price)
cal = reduce(cal)

In [12]:
# We are creating new features required for the prediction for days from 1942 till 1969

for day in range(1942,1942+28):
  sales['d_' + str(day)] = np.int32(0)

In [13]:
# We are transforming our Time Series problem to Supervised Machine Learning Problem

data = pd.melt(sales, id_vars=['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'],
          var_name='day', value_name='demand').dropna()
print("The new shape is ",data.shape)
data.head(2)

The new shape is  (60034810, 8)

                              id        item_id  ...  day demand
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...  d_1      0
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...  d_1      0

[2 rows x 8 columns]

In [14]:
# We are then merging the all the csv files together

data = data.merge(cal, left_on='day', right_on='d')

data = data.merge(sell_price,on=['store_id','item_id', 'wm_yr_wk'], how='left')

In [15]:
data['sell_price'].fillna(data.groupby('id')['sell_price'].transform('mean'), inplace=True)

In [16]:
# we are stripping the 'd_' from day column to make it an integer feature
data['day'] = data['day'].apply(lambda x: x.split('_')[1]).astype(np.int16)

#since weekday's are represented as wday with numbers and d is a duplicate column.
data.drop(['d','weekday','date'], axis=1, inplace=True)

In [17]:
#  We are doing a categorical encoding by replacing the categories with the memory number every category has.
# This method is just a lazy way of doing things as cat codes are produced only features of types categories.
# Hence if a feature which is not a category is passed in, it throws AttributeError and thus the excep condition excutes
# And the error is handled

for i in data.columns:
    try:
        data[i] = data[i].cat.codes
    except AttributeError:
        pass

In [18]:
# Adding lag shift features as those are good time series feature engineering steps.

lags = [28,30,35,42,49,56,63,70]
for lag in tqdm(lags):
    data["lag_" + str(lag)] = data.groupby("id")["demand"].shift(lag).astype(np.float16)

100%|██████████| 6/6 [00:17<00:00,  2.91s/it]

In [ ]:
# # Adding rolling window feature with mean value

# means = [5,7,28,56]
# for mns in tqdm(means):
#     data['rolling_median_'+str(mns)] = data.groupby(['id'])['demand'].transform(lambda x: x.rolling(mns).median())

In [19]:
data = data[data['day']>1000]
data.head(2)

             id  item_id  dept_id  cat_id  ...  lag_35  lag_42  lag_49  lag_56
30490000  14370     1437        3       1  ...     2.0     1.0     0.0     1.0
30490001  14380     1438        3       1  ...     0.0     0.0     1.0     1.0

[2 rows x 26 columns]

In [20]:
data.isna().sum().sum()

0

In [ ]:
# data.to_pickle('new.pkl')

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
# !cp new.pkl /content/drive/MyDrive

In [ ]:
# data = pd.read_pickle('/content/drive/MyDrive/new.pkl')
# data.head(2)

In [21]:
# Now we are splitting our data into, Train, Test, Cross Validate.
# Being a time series model, we are splitting the data based on time.

# Records till day 1914 will be used for training the model.
X_train = data[data['day']<1914]

# Records between days 1914 and 1941 will be used for Validation
X_val = data[(data['day']>=1914) & (data['day']<=1941)]

# Records after day 1942 will used for final test
X_test = data[(data['day']>=1942)]

y_train = X_train['demand']
y_val = X_val['demand']

# We are drpping the features which are not required.
X_train.drop(['demand'],axis = 1,inplace = True)
X_val.drop(['demand'],axis = 1,inplace = True)
X_test.drop(['demand'],axis = 1,inplace = True)

print(X_train.shape,y_train.shape)
print(X_val.shape,y_val.shape)
print(X_test.shape)

(27837370, 25) (27837370,)
(853720, 25) (853720,)
(853720, 25)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [22]:
learning_rate = 0.071
num_leaves = 123
min_data_in_leaf = 147

In [23]:
#fit the model on best parameters

m_lgb = LGBMRegressor( learning_rate=learning_rate ,
                           num_leaves=num_leaves ,
                           min_data_in_leaf=min_data_in_leaf)

m_lgb.fit(X_train, y_train)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.071, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001,
              min_data_in_leaf=147, min_split_gain=0.0, n_estimators=100,
              n_jobs=-1, num_leaves=123, objective=None, random_state=None,
              reg_alpha=0.0, reg_lambda=0.0, silent=True, subsample=1.0,
              subsample_for_bin=200000, subsample_freq=0)

In [24]:
pred_val_array  = m_lgb.predict(X_val)
pred_test_array  = m_lgb.predict(X_test)

pred_val_array = np.reshape(pred_val_array, (-1, 28),order = 'F')
pred_test_array = np.reshape(pred_test_array, (-1, 28),order = 'F')

In [25]:
sub_df = pd.read_csv("sample_submission.csv")
sub_1 = sub_df.iloc[:30490,:]
sub_2 = sub_df.iloc[30490:,:]
f_cols = sub_df.columns[1:]

for i in range(len(f_cols)):
    sub_1[f_cols[i]] = pred_val_array[:,i]
    sub_2[f_cols[i]] = pred_test_array[:,i]

sub = pd.concat([sub_1,sub_2])
sub

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                  id        F1  ...       F27       F28
0      HOBBIES_1_001_CA_1_validation  0.528932  ...  1.478406  0.737714
1      HOBBIES_1_002_CA_1_validation  0.489853  ...  0.359576  0.359576
2      HOBBIES_1_003_CA_1_validation  0.399944  ...  0.654761  0.922859
3      HOBBIES_1_004_CA_1_validation  2.328879  ...  3.458492  3.126287
4      HOBBIES_1_005_CA_1_validation  1.124764  ...  1.188967  1.995593
...                              ...       ...  ...       ...       ...
60975    FOODS_3_823_WI_3_evaluation  0.465499  ...  0.571244  0.937538
60976    FOODS_3_824_WI_3_evaluation  0.590313  ...  0.729342  0.341851
60977    FOODS_3_825_WI_3_evaluation  1.227312  ...  0.516877  0.921955
60978    FOODS_3_826_WI_3_evaluation  1.158328  ...  1.124396  1.172219
60979    FOODS_3_827_WI_3_evaluation  1.718143  ...  2.226388  1.144486

[60980 rows x 29 columns]

In [26]:
sub.to_csv("lgb_sub_V6.csv",index = False)

In [ ]:
pd.read_csv('submission.csv')

                                  id        F1  ...       F27       F28
0      HOBBIES_1_001_CA_1_validation  0.635264  ...  1.808653  0.741226
1      HOBBIES_1_002_CA_1_validation  0.376999  ...  0.445864  0.603483
2      HOBBIES_1_003_CA_1_validation  0.418780  ...  0.555819  1.407281
3      HOBBIES_1_004_CA_1_validation  2.307070  ...  2.024376  2.301502
4      HOBBIES_1_005_CA_1_validation  0.978023  ...  1.108424  1.627276
...                              ...       ...  ...       ...       ...
60975    FOODS_3_823_WI_3_evaluation  0.307991  ...  0.313316  0.535191
60976    FOODS_3_824_WI_3_evaluation  0.383718  ...  0.411155  0.196606
60977    FOODS_3_825_WI_3_evaluation  1.193915  ...  0.425125  0.628896
60978    FOODS_3_826_WI_3_evaluation  1.471955  ...  0.665504  0.790551
60979    FOODS_3_827_WI_3_evaluation  1.994872  ...  1.313558  0.695970

[60980 rows x 29 columns]

In [27]:
!kaggle competitions submit -c m5-forecasting-accuracy -f lgb_sub_V6.csv -m "Much more optimized and changed some codes"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
100% 32.7M/32.7M [00:11<00:00, 2.95MB/s]
Successfully submitted to M5 Forecasting - Accuracy