<a href="https://colab.research.google.com/github/vence-andersen/M5-Forecasting-Accuracy/blob/main/Feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Removables**

In [ ]:
# from google.colab import files
# files.upload()

In [ ]:
# !mkdir -p ~/.kaggle
# !cp kaggle.json ~/.kaggle/
# !chmod 600 ~/.kaggle/kaggle.json

In [ ]:
# ! kaggle competitions download -c m5-forecasting-accuracy

In [ ]:
# !unzip sales_train_evaluation.csv.zip
# !unzip sales_train_validation.csv.zip
# !unzip sample_submission.csv.zip
# !unzip sell_prices.csv.zip

In [ ]:
# ! pip install downcast

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/20/37/bc4e0ddc30c07a96482abf1de7ed1ca54e59bba2026a33bca6d2ef286e5b/catboost-0.24.4-cp36-none-manylinux1_x86_64.whl (65.7MB)
     |████████████████████████████████| 65.8MB 63kB/s
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Installing collected packages: catboost
Successfully installed catboost-0.24.4

# **Importing modules required and reading the files.**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
from tqdm import tqdm
from lightgbm import LGBMRegressor, Dataset
from sklearn.metrics import mean_squared_error as mse
from downcast import reduce
import warnings
warnings.filterwarnings("ignore")
from xgboost import XGBRegressor
from catboost import CatBoostRegressor

In [ ]:
# Using Pandas to reasd the files.

sales = pd.read_csv("sales_train_evaluation.csv")
sell_price = pd.read_csv("sell_prices.csv")
cal = pd.read_csv("calendar.csv")

In [ ]:
# To reduce the memory usage, we'll be using reduce throughout the code

sales = reduce(sales)
sell_price = reduce(sell_price)
cal = reduce(cal)

# **Feature Engineering**

In [ ]:
# We are creating new features required for the prediction for days from 1942 till 1969

for day in range(1942,1942+28):
  sales['d_' + str(day)] = np.int32(0)

In [ ]:
# We are transforming our Time Series problem to Supervised Machine Learning Problem

data = pd.melt(sales, id_vars=['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'],
          var_name='day', value_name='demand').dropna()
print("The new shape is ",data.shape)
data.head(2)

The new shape is  (60034810, 8)

                              id        item_id  ...  day demand
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...  d_1      0
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...  d_1      0

[2 rows x 8 columns]

In [ ]:
# We are then merging the all the csv files together

data = data.merge(cal, left_on='day', right_on='d')

data = data.merge(sell_price,on=['store_id','item_id', 'wm_yr_wk'], how='left')

In [ ]:
data['sell_price'].fillna(data.groupby('id')['sell_price'].transform('mean'), inplace=True)

In [ ]:
# we are stripping the 'd_' from day column to make it an integer feature
data['day'] = data['day'].apply(lambda x: x.split('_')[1]).astype(np.int16)

#since weekday's are represented as wday with numbers and d is a duplicate column.
data.drop(['d','weekday','date'], axis=1, inplace=True)

In [ ]:
#  We are doing a categorical encoding by replacing the categories with the memory number every category has.
# This method is just a lazy way of doing things as cat codes are produced only features of types categories.
# Hence if a feature which is not a category is passed in, it throws AttributeError and thus the excep condition excutes
# And the error is handled

for i in data.columns:
    try:
        data[i] = data[i].cat.codes
    except AttributeError:
        pass

In [ ]:
# Adding lag shift features as those are good time series feature engineering steps.

lags = [28,30,35,42,49,56,63,70]
for lag in tqdm(lags):
    data["lag_" + str(lag)] = data.groupby("id")["demand"].shift(lag).astype(np.float16)

100%|██████████| 8/8 [00:34<00:00,  4.31s/it]

In [ ]:
# # Adding rolling window feature with mean value

means = [5,7,28,56]
for mns in tqdm(means):
    data['rolling_median_'+str(mns)] = data.groupby(['id'])['demand'].transform(lambda x: x.rolling(mns).median())

100%|██████████| 4/4 [2:18:51<00:00, 2082.85s/it]

In [ ]:
data = data[data['day']>1000]
data.head(2)

             id  item_id  ...  rolling_median_28  rolling_median_56
30490000  14370     1437  ...                0.0                0.0
30490001  14380     1438  ...                0.0                0.0

[2 rows x 32 columns]

In [ ]:
data.isna().sum().su m()

0

In [ ]:
data.to_pickle('new.pkl')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!cp new.pkl /content/drive/MyDrive

In [ ]:
# data = pd.read_pickle('/content/drive/MyDrive/new.pkl')
# data.head(2)